@namespace MudBlazor
@using System.Threading;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using MudBlazor.Interfaces;
@using MudBlazor.State;
@using MudBlazor.Utilities;
@inherits MudDialog

@{
#nullable enable
#pragma warning disable CS0618 // Type or member is obsolete
}

@*this makes dialog inlineable, it will only render inside a MudDialogInstance*@
@if (!IsInline)
{
  @* <MudFocusTrap DefaultFocus="DefaultFocus ??  MudBlazor.DefaultFocus.Element"> *@
  <MudFocusTrap DefaultFocus="MudBlazor.DefaultFocus.Element">

    <div @attributes="UserAttributes" class="@ContentClassname" style="@ContentStyle">
      <CascadingValue Value="true" IsFixed Name="IsNested">
        @DialogContent
      </CascadingValue>
    </div>

    @if (DialogActions != null)
    {
      <div class="@ActionsClassname">
        @DialogActions
      </div>
    }

  </MudFocusTrap>
}