.dialog-background{
  background-color: var(--mud-palette-background);
  opacity: 0.9;
}
.explorer-dialog .mud-dialog-content {
  padding: 0 6px !important;
}

.explorer-dialog .mud-dialog-title {
  padding: 0;
}

.mud-toolbar-gutters .mud-icon-button {
  border-radius: 0;
}

.mud-toolbar-gutters .mud-icon-button:hover {
  background-color: var(--mud-palette-secondary);
  color: white;
}

.mud-toolbar.mud-toolbar-gutters .mud-button-root.mud-icon-button {
  padding: 5px;
}