<h3>ElsaStudioDesigner</h3>
@using Elsa.Studio.Components
@using Elsa.Studio.Contracts

<div class="my-custom-wrapper">
    <Elsa.Studio.Workflows.Pages.WorkflowDefinitions.List.Index />
</div>
@code {

}
