@page "/Desktoplayout/settings";
@using FSH.Starter.BlazorShared

@inherits MobulePageBase
@inject IDialogService DialogService

<h3>Settings  razor</h3>

@code {
  protected override string Path { get; set; } = string.Empty;
}
