@inherits FolderCardBase
@using FSH.Starter.Blazor.Modules.Document.Blazor.Components.FileExplorer.Components.Explorers.Base

@using FSH.Starter.Blazor.Modules.Document.Blazor.Components.FileExplorer.Models;


<DefaultFolderViewCard Model="Model" DataLoaded="dataLoaded">
  @* <div style="width:120px;height:80px; overflow:clip; text-align:center;"> *@
  <div class="svg-container">
    <MudIcon Style="font-size: 5.2rem; " Size="Size.Medium" Icon="@FileExplorerIcons.Folders.ClosedGray" />
  </div>
  <MudText Typo="Typo.body2" Style="max-width: 15ch;text-wrap-style: balance; overflow-wrap: break-word; ">@Model.Name</MudText>
</DefaultFolderViewCard>

<style>
  .svg-container {
    width: 96px;
    height: 80px;
    overflow: clip;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 0.3rem;
    padding-top: 0.4rem;
  }

  .svg-container2 {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    /* Optional: Define a height for the container to see vertical centering */
    height: 80px;
  }
</style>
