<!-- Pages/Workflows.razor -->
@page "/workflows/instances"
@inherits MobulePageBase
@using Elsa.Studio.Components
@using FSH.Starter.BlazorShared

<PageTitle>Workflows</PageTitle>

<div class="my-custom-wrapper">
    <Elsa.Studio.Workflows.Pages.WorkflowInstances.List.Index  />
</div>

