<!-- Pages/Workflows.razor -->
@page "/workflows/definitions/{Id}/edit"
@inherits MobulePageBase
@using Elsa.Studio.Components
@using FSH.Starter.BlazorShared

<PageTitle>Workflows</PageTitle>

<div class="my-custom-wrapper">
    <Elsa.Studio.Workflows.Pages.WorkflowDefinitions.Edit.Index DefinitionId="@Id"/>
</div>

