<!-- Pages/Workflows.razor -->
@page "/workflows"
@inherits MobulePageBase
@using Elsa.Studio.Components
@using FSH.Starter.BlazorShared

<PageTitle>Workflows</PageTitle>

<div class="my-custom-wrapper">
    <Elsa.Studio.Workflows.Pages.WorkflowDefinitions.List.Index />
</div>