@using FSH.Starter.Blazor.Modules.BlazorOS.Components.Desktop.Components
@using FSH.Starter.Blazor.Modules.BlazorOS.Models
@using Microsoft.JSInterop;
@using System.Diagnostics.CodeAnalysis
@implements IDisposable
@inject IJSRuntime JSRuntime

<div class="bos-desktop">
    <BosDropZone Id="@DropZoneId">
        @for (int i = 0; i < length; i++)
        {
            if (_shortcuts.Count > i)
            {
                var item = _shortcuts[i];
                <BosDragable Index="(uint)i" ColSize="(uint)Rows" Width="60" Height="92">
                    <BosShell Width="60" Shortcut="@item"></BosShell>
                </BosDragable>
            }
        }
    </BosDropZone>
</div>

<div style="width: 200px; height:50px; position:absolute; top:calc(100vh - 100px); left:calc(100vw - 210px); background-color: crimson; color:white">
    width: @_viewSize?.width, Height: @_viewSize?.height
</div>

@code {
    record ViewSize(int height, int width);
    record Point2D(int x, int y);

    #region Parameters
    [Parameter] public string DropZoneId { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public int lnkW { get; set; } = 80;
    [Parameter] public int lnkH { get; set; } = 110;
    ViewSize _viewSize = new ViewSize(0, 0);
    int Cols = 0;
    int Rows = 0;
    int length => Cols * Rows;
    private DotNetObjectReference<BosDesktop>? objRef;
    private Type? selectedType;
    private Dictionary<string, object>? componentParameters;
    #endregion


    #region Component Events
    protected override async Task OnInitializedAsync()
    {
        _viewSize = await JSRuntime.InvokeAsync<ViewSize>("helpers.getWindowDimensions", []);
        Cols = (_viewSize.width - 20) / lnkW; Cols++;
        Rows = (_viewSize.height - 100) / lnkH; Rows++;
        await base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("helpers.registerResizeCallback", objRef);
            await JSRuntime.InvokeVoidAsync("Bos.Dragging.init", DropZoneId, objRef);
        }
    }

    #endregion

    #region DragDrop

    #endregion

    #region Helpers
    Point2D GetPosFromIndex(int index)
    {
        int x = (index / Rows) * lnkW;
        int y = (index % Rows) * lnkH;
        return new Point2D(x, y);
    }
    Point2D GePosColRow(int x, int y)
    {
        int col = (x / lnkW);
        int row = (y % lnkH);
        return new Point2D(col, row);
    }
    int GeIndexFromPos(int x, int y)
    {
        var cr = GePosColRow(x, y);
        return cr.x * cr.y;
    }
    #endregion



    static string imgSrc(string ext) => $"{Constants._content.Replace(Constants.ModuleName, "Document.Blazor")}/img/extensions/document/{ext}.png";
    static int getLastColFirst(BosDesktop that) => ((that.Cols - 1) * that.Rows) + 1;

    List<Shortcut> _shortcuts = new List<Shortcut>
    {
        new Shortcut("Shell", "", imgSrc("txt"), $"{Constants._content}/files/shells/WindowsPowerShell.lnk"),
        new Shortcut("Notepad", "", imgSrc("pdf"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("Calculator", "", imgSrc("docx"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("File Explorer", "", imgSrc("txt"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("Command Prompt Command Prompt", "", imgSrc("txt"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("Settings", "", imgSrc("pdf"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("Task Manager", "", imgSrc("doc"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("Command PromptCommand Prompt", "", imgSrc("xls"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("Control Panel", "", imgSrc("xlsx"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("Paint", "", imgSrc("doc"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("WordPad", "", imgSrc("txt"), $"{Constants._content}/files/shells/Notepad.lnk"),
        new Shortcut("Command Prompt", "", imgSrc("txt"), $"{Constants._content}/files/shells/Notepad.lnk"),
    };

    #region JSInvokable

    [JSInvokable]
    public void OnBrowserResize(int width, int height)
    {
        _viewSize = new ViewSize(height, width);
        StateHasChanged();
    }

    #endregion



    public void Dispose() => objRef?.Dispose();



}

<style>

    .bos-desktop {
        display: inline-block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1rem 1rem 40px;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }

        .bos-desktop .drop-zone {
            display: inline-block;
            width: 100vw;
            height: 100vh;
            position: relative;
            left: 0;
            top: 0;
            transition: top 0.4s ease-out, left 0.4s ease-out;
        }

            .bos-desktop .drop-zone .dragable {
                position: absolute;
                width: @(lnkW);
                height: @(lnkH);
                cursor: pointer;
                user-select: none;
                transition: top 0.4s ease-out, left 0.4s ease-out;
            }

                .bos-desktop .drop-zone .dragable[selected*='yes'] {
                    transition: none;
                }

    .dragging {
        border: dashed 1px red;
        opacity: 0.5;
    }
</style>