@using FSH.Starter.Blazor.Modules.BlazorOS.Models
@using Microsoft.JSInterop;
@using System.Diagnostics.CodeAnalysis
@implements IDisposable
@inject IJSRuntime JSRuntime

<div @attributes="HtmlAttributes" id="@Id" index="@Index" class="drop-zone" @ondragover:preventDefault="true">
    @ChildContent
</div>

@code {
     [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public int Index { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private DotNetObjectReference<BosDropZone>? _objectReference;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? HtmlAttributes { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objectReference = DotNetObjectReference.Create(this);
            // await JSRuntime.InvokeVoidAsync("Bos.Dragging.init", Id, _objectReference);
        }
    }

    [JSInvokable]
    public void OnDragOver(string data, int offsetX, int offsetY)
    {
        // Handle the drop event, e.g., update the UI or process the dropped data
        Console.WriteLine($"Drag Over data: {data}");
    }
    [JSInvokable]
    public void OnDragEnter(string data)
    {
        // Handle the drop event, e.g., update the UI or process the dropped data
        Console.WriteLine($"Drag Enter data: {data}");
    }
    [JSInvokable]
    public void OnDragLeave(string data)
    {
        StateHasChanged();
        // Handle the drop event, e.g., update the UI or process the dropped data
        Console.WriteLine($"Drag Leave data: {data}");
    }
    [JSInvokable]
    public void OnDrop(string data)
    {
        // Handle the drop event, e.g., update the UI or process the dropped data
        Console.WriteLine($"Dropped data: {data}");
    }
    [JSInvokable]
    public void OnDragEnd(string data)
    {
        // Handle the drop event, e.g., update the UI or process the dropped data
        Console.WriteLine($"Drag End data: {data}");
    }
    public void Dispose()
    {
        if (_objectReference != null)
        {
            JSRuntime.InvokeVoidAsync("BosDropZone.dispose", Id);
            _objectReference.Dispose();
        }
    }
}

@* <style>
    .drop-zone {
        display: grid;
        /* grid-auto-columns: repeat(auto-fit, minmax(60px, 1fr));
        grid-auto-rows: repeat(auto-fit, minmax(calc(60px + 2.1rem), 1fr));*/
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1rem 1rem 40px;
        grid-template-columns: repeat(auto-fit, @($"{60}px"));
        grid-template-rows: repeat(auto-fit,calc( @($"{60}px") + 2.1rem) );
        grid-auto-flow: column;
        grid-gap: 0 0px;
        /* border: 5px dashed red; */
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
</style> *@